<% include ../common/header %>
<!-- pickup Locations -->

<div class="card mb-3">
	<div class="card-header">
	  <i class="fas fa-table"></i>
	  Items to be Picked Up</div>
	<div class="card-body">
	  <div class="table-responsive">
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
						<th style="display: none;">ID</th>
						<th>Complete/View</th>
						<th>Location</th>
						<th>Recipient</th>
						</tr>
					</thead>
					<tbody>
						<% items.forEach(function(item){ %>
							<tr>
								<td style="display: none;"><%= item._id %></td>
								<td>
									<div class="left">
										<form action='/pickup/<%= item._id %>/remove' onsubmit="return myAlert()">
											<input type="submit" value="Complete" />
										</form>
									</div>
									<div class="right">
										<form action='/pickup/<%= item._id %>/edit'>
											<input type="submit" value="View" />
										</form>
									</div>
								</td>
								<td><%= item.pickup_location.substring(0,50) %></td>
								<td><%= item.pickup_for %></td>
							</tr>
						<% }) %>
					</tbody>
				</table>
				<div class="button-right" >
					<a href="pickup/create/new">
						<button type="button"><i class="fa fa-plus"></i>New Pick Up</button>
					</a>
				</div>
			  </div>
			</div>

<% include ../common/footer %>