<% include ./common/header %>

    
    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3" style="size: 5em;">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-truck"></i>
            </div>
            <div class="mr-5">
              <p>Parts Pick Up List</p>
            </div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/pickup">
            <span class="float-left">View List</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-map-marked"></i>
            </div>
            <div class="mr-5">
              <p>Loaned Equipment Locations</p>
            </div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/equipment">
            <span class="float-left">View Equipment</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-clipboard"></i>
            </div>
            <div class="mr-5">
              <p>Job Notes</p>
            </div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/jobs">
            <span class="float-left">View Jobs</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-school"></i>
            </div>
            <div class="mr-5">
              <p>Walkthrough Report</p>
            </div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/walkthrough">
            <span class="float-left">View Scan Details</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <% if (user && user.local.is_admin) { %>
    <div class="table-responsive"> 
      <br>
      <h4 class="mt-0 mb-1">All Open Jobs</h4>
      <hr>
      <table class="table table-bordered" id="adminTable" width="100%" cellspacing="0">
        <thead>
          <div class="row">
            <div class="col-md-6 text-left">
              <button type="button" onclick="location.href='/jobs' "><i class="fa fa-clipboard"></i>All Jobs</button>
            </div>
            <div class="col-md-6 text-right">
              <button type="button" onclick="location.href='/jobs/create/new'"><i class="fa fa-plus"></i>New Job</button>
            </div>
          </div>
          <br>
            <tr>
              <th style="display: none;">ID</th>
              <th>View/Edit</th>
              <th>Tech Name</th>
              <th>Priority</th>
              <th>Job Location</th>
              <th>Request</th>
              <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            <% jobs.forEach(function(job){ %>
              <% if (job.job_status == 'inProgress') { %>
                <tr>
                    <td style="display: none;"><%= job._id %></td>
                    <td>
                        <div class="left">
                            <form action='/jobs/<%= job._id %>' method="GET">
                                <input type="submit" value="View/Edit" />
                            </form>
                        </div>
                    </td>
                    <td><%= job.job_userName %></td>
                    <td>
                      <% if(job.job_priority == 1) { %>
                        1-Low
                     <% } else if (job.job_priority == 3) { %>
                        3-Moderate
                      <% } else if (job.job_priority == 5) { %>
                        5-High
                      <% } %>
                    </td>
                    <td><%= job.job_location %></td>
                    <td><%= job.job_request.substring(0,100) %></td>
                    <td><%= job.job_create_date %></td>
                </tr>
                <% } %>
            <% }) %>
              </tbody>
            
      </table>
      <hr>
      <br>
    </div>
    <% } %>

    <!-- News -->
    <% news.forEach(function(news){ %>
      <div class="row">
        <div class="col-md-8 mb-5">
          <h3 class="hr3">News</h3>
          <hr>
          <div class="media">
            <div class="media-body">
              <h4 class="mt-0 mb-1"><%= news.news_headline1 %></h4>
              <p><%= news.news_body1 %> </p>
              <p><%= news.news_body3 %></p>
            </div>
          </div>
        </div>
        

      <!-- Card -->
      
        <div class="col-md-4 mb-5">
          <h3 class="hr3">Events</h3>
          <hr>
          <div class="card text-center">
              <a href="https://calendar.google.com/calendar/embed?src=tcsdmaintenance%40gmail.com&ctz=America%2FDenver" target="blank"><img class="card-img-top" style="width:250px;" src="/images/events.jpg" alt="Events"></a>
            <div class="card-body">
              <h5 class="card-title"><%= news.news_headline2 %></h5>
              <p class="card-text"><%= news.news_body2%></p>
              <a href="https://calendar.google.com/calendar/embed?src=tcsdmaintenance%40gmail.com&ctz=America%2FDenver" target="blank" class="btn btn-primary">Calendar</a>
            </div>
        </div>
        </div>
      <!-- /.row -->
      </div>
      <% }) %>

    <% include ./common/footer %>